{{#extend 'layout'}}
    {{#content 'head' mode='prepend'}}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href="blocks/button/index.css"/>
    {{/content}}
    {{#content 'body'}}
        <div class="content">
            <div>
                <a href="/create/event">{{> button/index _text='create event'}}</a>
                {{#each events}}
                    <div class="event-div">
                        <div class="icon-div"><img src="{{iconSrc}}"></div>
                        <div class="event-link">
                            <a href="/event/{{slug}}">{{name}}<br>{{formattedDate}}</a>
                        </div>
                    </div>
                {{/each}}
            </div>
            <div>
                <a href="/create/advertise">{{> button/index _text='create advertise'}}</a>
                {{#each advertising}}
                    <div class="advertise-div">
                        <div class="logo-div"><img src="../images/{{event.logo}}"></div>
                        <div class="advertise-link">
                            <a href="/advertise/{{slug}}">{{name}}<br>{{event.name}}</a>
                        </div>

                    </div>
                {{/each}}
            </div>
        </div>
    {{/content}}
{{/extend}}

